<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crear Usuario</title>
</head>
<body>
  <h1>Crear Usuario</h1>
  <form action="/users" method="post">
    <label>Nombre:</label><br>
    <input type="text" name="first_name" required><br>
    <label>Apellido:</label><br>
    <input type="text" name="last_name" required><br>
    <label>Rol:</label><br>
    <select name="role">
      <option value="admin">Admin</option>
      <option value="client">Cliente</option>
      <option value="laboratorist">Laboratorista</option>
    </select><br>
    <label>Email:</label><br>
    <input type="email" name="email" required><br>
    <label>Contraseña:</label><br>
    <input type="password" name="password" required><br>
    <label>Teléfono:</label><br>
    <input type="text" name="phone" required><br>
    <label>Edad:</label><br>
    <input type="number" name="age" required><br><br>
    <button type="submit">Crear</button>
  </form>
  <a href="/users">Volver</a>
</body>
</html>
